In [136]:
import pandas as pd
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

In [137]:
df = pd.read_csv('file_location/file_name')

In [138]:
#Remove Digits

df = df[~df.word.str.contains("\\d")]

In [140]:
#Sort by decending frequency

df = df.sort_values('freq', ascending=False)
df.head(20)

              word  freq
1372295  president  1548
129595      people  1507
1148570     people  1471
1146920     people  1469
648928    military  1448

In [141]:
#Remove General Phrases
#You can choose whatever words you want to from the .head(20) above

df = df[~df.word.str.contains("people")]
df = df[~df.word.str.contains("day")]
df = df[~df.word.str.contains("continue")]
df = df[~df.word.str.contains("day")]
df = df[~df.word.str.contains("city")]

In [142]:
#Remove Dups

df = df.drop_duplicates("word")
df.head()

               word  freq
1372295   president  1548
648928     military  1448
35369       ukraine  1430
1289842        iran  1279
35373       russian  1217
794178        trump  1202
1297898        u.s.  1174
745239         know  1115
35370        russia  1101
794180        biden  1086
1052715      police  1055
1297949        iraq   975
493399         gaza   946
794208        votes   922
1420305  government   910
368044      taliban   891
491845       israel   836
493398      israeli   828
794177       states   795
794188        state   771

In [ ]:
# Output the data to excel for wordcloud
#Copy of Aditya Code
master_df.to_csv('path to store file/filename.csv', sep=',')