In [79]:
import pandas as pd
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

In [80]:
#df = pd.read_csv('file_location/file_name')
df = pd.read_csv('msnbc.csv')
#df = pd.read_csv('Complete_aljazeera.csv')

In [81]:
#drop nan values

df = df[df["word"].notna()]
df = df[df["freq"].notna()]
df = df[df["date"].notna()]
print(sum(df.word.isna()) + sum(df.freq.isna()) + sum(df.date.isna()))

0

In [82]:
#Remove Digits

df = df[~df.word.str.contains("\\d")]

In [83]:
#Sort by decending frequency

df = df.sort_values('freq', ascending=False)
df.head(20)

            id       word  freq      date
187660  187660   reporter    70  20220402
84488    84488   angelina    65  20220404
226936  226936     thomas    61  20220401
807657  807657     people    60  20220320
220900  220900     thomas    60  20220401
83601    83601      frank    54  20220404
136820  136820       leon    51  20220403
579135  579135  president    50  20220325
392089  392089       kyiv    49  20220329
309349  309349     people    49  20220331
185728  185728   williams    48  20220402
135934  135934      marie    48  20220403
199738  199738       hair    47  20220402
620092  620092        war    47  20220324
466324  466324      think    46  20220327
699934  699934     people    46  20220322
135042  135042      marie    46  20220403
132138  132138       josh    46  20220403
353652  353652         mr    45  20220329
644641  644641       nato    45  20220324

In [84]:
#Remove General Phrases
#You can choose whatever words you want to from the .head(20) above

df = df[~df.word.str.contains("mr")]
df = df[~df.word.str.contains("yes")]
df = df[~df.word.str.contains("gentleman")]
df = df[~df.word.str.contains("people")]
df = df[~df.word.str.contains("day")]
df = df[~df.word.str.contains("continue")]
df = df[~df.word.str.contains("day")]
df = df[~df.word.str.contains("city")]

In [85]:
#Remove Dups
#df = df.drop_duplicates("word")

In [86]:
#combine similar word frequency

corona = df[df.word.str.contains('corona')]
corona = corona.append(df[df.word.str.contains('covid')])
#corona_freq = corona.freq.sum() + covid.freq.sum()

vaccine = df[df.word.str.contains('vacc')]
vaccine = vaccine.append(df[df.word.str.contains('vax')])

anti = vaccine[vaccine.word.str.contains('anti')]
anti = anti.append(vaccine[vaccine.word.str.contains('no')])
vaccine = vaccine[~vaccine.word.str.contains("anti")]
vaccine = vaccine[~vaccine.word.str.contains("no")]
#vaccine_freq = vaccine.freq.sum()

mask = df[df.word.str.contains('mask')]
mask = mask.append(df[df.word.str.contains('N95')])
mask = mask.append(df[df.word.str.contains('covering')])

#corona

In [87]:
#

In [88]:
#temp remove terms

df = df[~df.word.str.contains("corona")]
df = df[~df.word.str.contains("covid")]

df = df[~df.word.str.contains("vacc")]
df = df[~df.word.str.contains("vax")]

df = df[~df.word.str.contains("mask")]
df = df[~df.word.str.contains("N95")]
df = df[~df.word.str.contains("covering")]

In [89]:
#change terms to all be the same for graphing continuity

#corona['word'] = 'cororna'

vaccine.head()

            id      word  freq      date
974893  974893   vaccine     7  20220317
126754  126754   vaccine     7  20220403
120565  120565   vaccine     7  20220403
297410  297410   vaccine     6  20220331
666781  666781  vaccines     6  20220323

In [90]:
#Append Slice

df = df.append(corona)
df = df.append(vaccine)
df = df.append(anti)
df = df.append(mask)
#print(df[df.word.str.contains('corona')])
#print(df[df.word.str.contains('vaccin')])

In [91]:
#Sort again

df = df.sort_values('freq', ascending=False)

In [92]:
df.head(30)

            id       word  freq      date
187660  187660   reporter    70  20220402
84488    84488   angelina    65  20220404
226936  226936     thomas    61  20220401
220900  220900     thomas    60  20220401
83601    83601      frank    54  20220404
136820  136820       leon    51  20220403
579135  579135  president    50  20220325
392089  392089       kyiv    49  20220329
185728  185728   williams    48  20220402
135934  135934      marie    48  20220403
199738  199738       hair    47  20220402
620092  620092        war    47  20220324
135042  135042      marie    46  20220403
132138  132138       josh    46  20220403
466324  466324      think    46  20220327
644641  644641       nato    45  20220324
825076  825076    ukraine    44  20220320
88756    88756      putin    44  20220404
865067  865067        war    44  20220319
661506  661506         th    43  20220323
703943  703943       nato    43  20220322
697837  697837       nato    43  20220322
134073  134073       john    43  20220403
577527  577527  president    43  20220325
353653  353653  president    43  20220329
675422  675422      court    43  20220323
226937  226937      court    42  20220401
220901  220901      court    42  20220401
790550  790550    ukraine    42  20220320
615828  615828  president    42  20220324

In [93]:
# Output the data to excel for wordcloud
#Copy of Aditya Code
df.to_csv('msnbc_v2.csv', sep=',')