In [37]:
import pandas as pd
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

In [38]:
#df = pd.read_csv('file_location/file_name')
df = pd.read_csv('msnbc.csv')

In [43]:
#drop nan values

df = df[df["word"].notna()]
print(sum(df.word.isna()))

0

In [44]:
#Remove Digits

df = df[~df.word.str.contains("\\d")]

In [45]:
#Sort by decending frequency

df = df.sort_values('freq', ascending=False)
df.head(20)

          Unnamed: 0       word  freq      date
36719968    36719968     guilty   177  20200205
36719969    36719969         mr   169  20200205
36861123    36861123         mr   155  20200201
39398556    39398556  president   143  20191209
43848363    43848363   reporter   130  20190907
20904938    20904938  president   127  20210112
20864921    20864921  gentleman   123  20210113
40315801    40315801  president   123  20191120
43847093    43847093   reporter   119  20190907
37229379    37229379  president   118  20200124
41403500    41403500   reporter   117  20191028
17411480    17411480    correct   116  20210331
37124932    37124932  president   114  20200127
15773717    15773717        yum   113  20210506
18544838    18544838         mr   111  20210306
42990486    42990486  president   109  20190925
51403226    51403226       beto   107  20190401
40650826    40650826  president   104  20191113
37130172    37130172  president   102  20200127
5302828      5302828        yes   102  20211217

In [ ]:
#Remove General Phrases
#You can choose whatever words you want to from the .head(20) above

df = df[~df.word.str.contains("mr")]
df = df[~df.word.str.contains("yes")]
df = df[~df.word.str.contains("gentleman")]
df = df[~df.word.str.contains("people")]
df = df[~df.word.str.contains("day")]
df = df[~df.word.str.contains("continue")]
df = df[~df.word.str.contains("day")]
df = df[~df.word.str.contains("city")]

In [ ]:
#Remove Dups
#df = df.drop_duplicates("word")

In [ ]:
#combine similar word frequency

corona = df[df.word.str.contains('corona')]
corona = corona.append(df[df.word.str.contains('covid')])
#corona_freq = corona.freq.sum() + covid.freq.sum()

vaccine = df[df.word.str.contains('vaccin')]
#vaccine_freq = vaccine.freq.sum()

mask = df[df.word.str.contains('mask')]
mask = mask.append(df[df.word.str.contains('N95')])
mask = mask.append(df[df.word.str.contains('covering')])

#corona

In [ ]:
#temp remove terms

df = df[~df.word.str.contains("corona")]
df = df[~df.word.str.contains("covid")]

df = df[~df.word.str.contains("vaccin")]

df = df[~df.word.str.contains("mask")]
df = df[~df.word.str.contains("N95")]
df = df[~df.word.str.contains("covering")]

In [9]:
#Append Slice

df = df.append(corona)
df = df.append(vaccine)
df = df.append(mask)
#print(df[df.word.str.contains('corona')])
#print(df[df.word.str.contains('vaccin')])

         Unnamed: 0    word  freq      date
1159853         125  corona   752  20200327
Empty DataFrame
Columns: [Unnamed: 0, word, freq, date]
Index: []

In [10]:
#Sort again

df = df.sort_values('freq', ascending=False)

In [11]:
df.head(30)

         Unnamed: 0         word  freq      date
1372295           0    president  1548  20191120
648928            0     military  1448  20210201
35369             0      ukraine  1430  20220224
1289842           0         iran  1279  20200108
35373             4      russian  1217  20220224
794178            1        trump  1202  20201104
1297898           9         u.s.  1174  20200103
745239           11         know  1115  20201204
35370             1       russia  1101  20220224
794180            3        biden  1086  20201104
1052715           0       police  1055  20200601
1297949          61         iraq   975  20200103
493399            1         gaza   946  20210512
794208           31        votes   922  20201104
1420305           0   government   910  20191022
368044            2      taliban   891  20210815
491845            2       israel   836  20210513
493398            0      israeli   828  20210512
794177            0       states   795  20201104
794188           11        state   771  20201104
1324786           1  impeachment   771  20191218
1159853         125       corona   752  20200327
283620            1     facebook   743  20211005
980637            0        china   737  20200714
7                 7          war   727  20220317
791199            1     election   721  20201106
794186            9          joe   711  20201104
1324790           5        house   708  20191218
1298138         301        money   689  20200103
22432            54      nuclear   673  20220304

In [12]:
# Output the data to excel for wordcloud
#Copy of Aditya Code
master_df.to_csv('path to store file/filename.csv', sep=',')

NameError: name 'master_df' is not defined